{% extends 'home/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class-"row">
            <div class="col-sm-2" style="padding-bottom:10px">
                
            </div>
            <div class="col-sm-6" style="padding-bottom:10px">
                
                <h2 style="display:inline-block"> Hello {{user}}!</h2>
            </div>
            <div class="col-sm-4" style="padding-bottom:10px; background-color: red; padding: 10px; border: solid gray 3px; border-radius: 10px;">
                <p style="background-color:white"><a href="{% url 'logout' %}" class="btn btn-primary" role="button" aria-pressed="true">Log Out</a> Retire for the night</p>
                <p style="background-color:white"><a href="{% url 'deleteaccount' user.id %}" class="btn btn-danger" role="button" aria-pressed="true">Delete</a> Remove Your Account</p>
            </div>
            
        </div>
    </div>
    <br>
    <div class="container-fluid">
        <div class="row">
            {% for b in blog %}
            <div class="col-sm-4" style="padding-bottom: 5px">
                <div class="col-sm-12" style="border: solid gray 3px; border-radius: 10px; background-color: red; height: 200px">
                    <div style="background-color: white; padding: 5px; margin: 5px; border-radius: 10px">
                        <p><b>{{b.title}}</b></p>
                        <p>Views: {{b.views}}</p><a href="{% url 'blog' b.id %}">Read</a>
                    </div>
                    <div class="col-sm-12 text-center">
                        <a href="{% url 'edit' b.id %}" class="btn btn-primary" role="button" aria-pressed="true">Edit</a>
                        <a href="{% url 'delete' b.id %}" class="btn btn-danger" role="button" aria-pressed="true">Delete</a>
                        {% if b.published_date %}
                        {% else %}
                        <a href="{% url 'publish' b.id %}" class="btn btn-success" role="button" aria-pressed="true">Publish</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            {% empty %}
                <p>You have nothing to do.</p>
            {% endfor %}
        </div>
    </div>
{% endblock content %}