{% extends 'home/base.html' %}
{% load bootstrap_tags %}
{% block content %}
    <h1>This is where you write a blog page</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-offset">
                <div class="inner">
                    <h3>{{ item.title }}</h3>
                    <p>{{ item.content }}</p>
                    <img src="{{ MEDIA_URL }}{{ item.image }}" style="max-width:100%"/>
                    
                    <form method="POST" action="{% url 'reviewit' item.id %}">
                        {% csrf_token %}
                        {{ reviewform | as_bootstrap }}
                        <button id="1" onmouseover="mouseOver(1)" onmouseout="mouseOut(1)" type="submit" name="score" value="1"><i id="s1" style="color:gold" class="fa fa-star"></i></button>
                        <button id="2" onmouseover="mouseOver(2)" onmouseout="mouseOut(2)" type="submit" name="score" value="2"><i id="s2" {% if item.average_rating > 1.5 %} style="color:gold" {% endif %} class="fa fa-star"></i></button>
                        <button id="3" onmouseover="mouseOver(3)" onmouseout="mouseOut(3)" type="submit" name="score" value="3"><i id="s3" {% if item.average_rating > 2.5 %} style="color:gold" {% endif %} class="fa fa-star"></i></button>
                        <button id="4" onmouseover="mouseOver(4)" onmouseout="mouseOut(4)" type="submit" name="score" value="4"><i id="s4" {% if item.average_rating > 3.5 %} style="color:gold" {% endif %} class="fa fa-star"></i></button>
                        <button id="4" onmouseover="mouseOver(5)" onmouseout="mouseOut(5)" type="submit" name="score" value="5"><i id="s5" {% if item.average_rating > 4.5 %} style="color:gold" {% endif %} class="fa fa-star"></i></button>
                        
                    </form>
                    
                </div>
                    
            
            </div>
            <div class="col-sm-4">
                <div class="inner" style="background-color: lightblue">
                    <div style="text-align: center; background-color: white; margin: 5px 30px 0px 30px; border-radius: 10px">
                        <br>
                        <h3 style="padding:0px; margin:0px"> Read all about it </h3>
                        {% if item.reviews > 0 %}
                        <i style="color:gold" class="fa fa-star"></i>
                        <i {% if item.average_rating > 1.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if item.average_rating > 2.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if item.average_rating > 3.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if item.average_rating > 4.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        
                        <p>Average Rating: {{item.average_rating }} Reviews: {{ item.reviews }}</p>
                        {% else %}
                        <p>This Item Has Not Been Reviewed</p>
                        <p>Be the first to review this product</p>
                        {% endif %}
                    </div>
                {% for r in reviews %}
                    <div>
                        <h3>{{ r.title }}</h3>
                        <p>{{ r.content }}</p>
                        
                        <p> <i style="color:gold" class="fa fa-star"></i>
                        <i {% if r.rating > 1.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if r.rating > 2.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if r.rating > 3.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>
                        <i {% if r.rating > 4.5 %} style="color:gold" {% endif %} class="fa fa-star"></i>{{ r.author }}</p>
                        
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
    // document.getElementById("1").addEventListener("mouseover", mouseOver);
    // document.getElementById("1").addEventListener("mouseout", mouseOut);
    
    function mouseOver(id) {
        let x = 1;
        let y = id;
        for (x; x <= y; x++) {
            document.getElementById("s"+x).style = ("color:gold");
        }
    
        
    }
    function mouseOut(id) {
        let x = 1;
        let y = id;
        for (x; x <= y; x++) {
            document.getElementById("s"+x).style = ("color:dimgray");
        }
    }
    
        
        
    </script>
    
{% endblock %}